<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>24 Hours email</h1>
<h1>Hi <%= @user.first_name %></h1>
<h2> <%=@event.title %></h2>
<p>
  Sample mail sent using smtp.
</p>
</body>
</html>
